<div>
    {{session?.movie.name}}
</div>
<div>
    {{session?.movie.description}}
</div>
<div>
    {{session?.timeStart.toLocaleTimeString("ru", {hour: 'numeric', minute: 'numeric'})}}
</div>
<div>
    Regular tickets count
    <input [(ngModel)]="regTicketsCount" type="number" min="0" [max]="session?.regSeatsAvailable || 0">
    Available: {{session?.regSeatsAvailable}}
</div>
<div>
    Vip tickets count
    <input [(ngModel)]="vipTicketsCount" type="number" min="0" [max]="session?.vipSeatsAvailable || 0">
    Available: {{session?.vipSeatsAvailable}}
</div>
<button>Заказать</button>
