
<div class="navbar-light">
  <ul class="nav navbar-nav float-sm-right">
    <li class="nav-item">
      <a class="nav-link" *ngIf="user" routerLink="/admin">Панель управления</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="user" routerLink="/myOrders">Мои заказы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="user">Привет, {{user.name}}!</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="!user" routerLink="/login" >Войти</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="user" (click)="onLogout()" >Выход</a>
    </li>
  </ul>
</div>

