<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div>
      <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      <a class="navbar-brand" routerLink="/">ACME Cinema Hall</a>
    </div>
    <div class="">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">New</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Soon</a>
        </li>
      </ul>
      <div><user-bar></user-bar></div>

    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-3" id="sidebar-container">
      акции
    </div>
  </div>
  <div class="row">
    <div class="footer-container">
      <footer>
        <a routerLink="/">Home</a>
        <span>&copy;Mihail Bondar, 2017</span>
      </footer>
    </div>
  </div>
</div>
