<nav class="navbar bg-faded">
  <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
      &#9776;
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <a class="navbar-brand" routerLink="/">ACME Cinema Hall</a>

      <div class="navbar-light">
        <user-menu></user-menu>
      </div>
      <user-bar></user-bar>
    </div>
  </div>

</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>



<footer class="navbar navbar-fixed-bottom bg-faded">
  <div class="container">
    <div>
      <a routerLink="/">Home</a>
      <span>&copy;Mikhail Bondar, 2017</span>
    </div>

  </div>
</footer>
