<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container1">
                <div class="navbar-header">
                    <a class="navbar-brand" routerLink="/">ACME Cinema Hall</a>
                </div>
                <div id="navbar">
                    <ul class="nav navbar-nav">

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a>User-panel</a>
                        </li>
                        <li>
                            <a class="navbar-link" routerLink="/login">Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="main-container col-md-9">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-3" id="sidebar-container">
            акции
        </div>
    </div>
    <div class="footer-container">
        <footer>
            <a routerLink="/">Home</a> | <a routerLink="/about" routerLinkActive="active">About</a>
            <span>&copy;Mihail Bondar, 2017</span>
        </footer>
    </div>
</div>

