<div *ngIf="session" class="text-nowrap w-100 row">
  <div class="col-md-2">
    <strong *ngIf="withDate"> {{ session.timeStart | date:"d MMMM" }}</strong>
  </div>
  <strong class="col-md-2">{{ session.timeStart | date:"HH:mm" }}</strong>
  <div class="col-md-2">
    {{session.hall.name}}
  </div>
  <div *ngIf="session.regSeatsAvailable + session.vipSeatsAvailable < 200"
    class="col-md-3">
    Осталось мест: {{session.regSeatsAvailable + session.vipSeatsAvailable}} </div>
  <b class="col-md-3">
    <span [class.text-old-price]="session.priceRegDiscount > 0">{{session.priceReg}}р</span>
    <span *ngIf="session.priceRegDiscount > 0">{{session.priceRegDiscount}}р</span>/
    <span [class.text-old-price]="session.priceVipDiscount > 0">{{session.priceVip}}р</span>
    <span *ngIf="session.priceVipDiscount > 0">{{session.priceVipDiscount}}р</span>
  </b>
</div>
